
/* override the literal/code color to look less like a link */
code {
	color: #5f7495;
}

/* then put the link color back the way it was */
a, a:hover, a:focus, a code {
	color: #8d1a38;
}

/* make admonitions a little more compact */
.admonition {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* and make the todo adminitions pop out a bit more too */
.admonition-todo {
	border-left-color: #931717;
}
.admonition-todo .admonition-title {
	color: #931717;
	text-transform: uppercase;
}

/* and make citations look like admonitions, instead of looking like butt */
.citation {
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #eee;
	border-left-width: 6px;
	border-left-color: #31708f;
	border-radius: 3px;
}

.citation td {
	display: inline-block;
	border: none !important;
	padding-left: 20px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.citation td.label {
	color: #31708f;
	font-size: 18px;
	margin-bottom: 5px;
}

