
# temp folders
build
lib
**/*.egg-info
**/*.pyc

# netbeans things
nbproject
build.xml
nbbuild.xml

# eclipse things
bin
.classpath
.project
.settings

# IDEA things
.idea
*.iml

# Gradle things
.gradle


.DS_Store
/build/
/OSPREY_refactor_master/nbproject/private/
/OSPREY_refactor_master/build/
/OSPREY_refactor_master/dist/
*.dat

sequences-exhaustive.1-seq.txt

sequences-sublinear.1-seq.txt

2RL0-ewakstar-output.confs.txt
