
# temp folders
build
lib
**/*.egg-info
**/*.pyc

# netbeans things
nbproject
build.xml
nbbuild.xml

# eclipse things
bin
.classpath
.project
.settings

# IDEA things
.idea
*.iml

# Gradle things
.gradle

